<strong>Olá, {{Organizer}}</strong>
<p>Foi criado uma incrição para seu Meetup , confira os detalhes abaixo:</p>
<p>
    <strong>Usuário: </strong> {{user}} <br />
    <strong>Email: </strong> {{email }} <br />
    <br />
    <small>
        A meetup esta disponível para novas inscrições.
    </small>
</p>